
.appview {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 20% 80%;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: 1 / 1 / 2 / 3;
  position: fixed;
  width: 100vw;
  height: 10vh;
  padding: 2vmin;
  border-bottom: .1vmin solid black;
  z-index: 10;
  background-color: rgb(245, 245, 245);
}

#sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 2vmin;
  padding-left: 2vmin;
  align-items: flex-start;
  justify-content: flex-start;
  grid-area: 2 / 1 / 3 / 2;
  position: fixed;
  height: 90vh;
  width: 20vw;
  margin-top: 8.5vh;
  border-right: .1vmin solid black
}

#mainview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  grid-area: 2 / 2 / 3 / 3;
}
