@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Yeseva+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding: 0;
  margin: 0;
  /* background-color: rgb(245, 245, 245); */
  color: black;
  /* font-size: (1px + .5vmin); */
  font-size: 14px;
  word-wrap: break-word;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

input {
  padding: .5vmin;
  padding-left: 1vmin;
  background-color: rgb(166, 166, 223);
  color: whitesmoke;
  border-radius: 5px;
}

input::placeholder {
  color: rgb(102, 102, 150);
}

button {
  border: 1px solid black;
  padding: .5vmin;
  padding-left: 1vmin;
  padding-right: 1vmin;
  border-radius: 5px;
}

textarea {
  white-space: pre-wrap;
}

p {
  white-space: pre-wrap;
}